@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wordpress styles */
.wp-block-columns {
	display: flex;
	gap: 15px;
}

@media screen and (max-width: 768px) {
	.wp-block-columns {
		flex-direction: column;
		align-items: center;
	}
}

.wp-block-column {
	flex: 1;
}

.wp-block-list {
	list-style-type: disc;
	padding-left: 17px;
}

.wp-block-details {
	cursor: pointer;
	user-select: none;
}

.wp-block-details summary ~ * {
	padding-inline: 10px;
}

.section:nth-of-type(even) {
	/* background: black; */
}

.section:nth-of-type(even) * {
	/* color: white; */
	/* fill: white; */
}
